vim/.vim/plugged
vim/.vim/swapfiles
vim/.vim/autoload
vim/.vim/view
vim/.vim/.netrwhist

mutt/.mutt/user.muttrc
config/.config/zsh/secrets.zsh
local/.local/share/containers
local/.local/share/nvim
config/.config/zsh/.zcompdump
config/.config/zsh/.zsh_history
config/.config/tmux/plugins/
config/.config/nvim/autoload/
config/.config/nvim/plugged/
packer_compiled.lua
